<!-- <!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Hector's Sample App</title>
  </head>
  <body> -->
<h1>Sample App</h1>
<p>
  Home page for the ruby on rails tutorial Sample App.
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  Look here for more info.
</p>
  <!-- </body>
</html> -->
